#banner {
  border-bottom: 1px solid @bordersColor;
  background-color: #fff;
  .logo{
    padding-left: 10px;
    img {
      padding-top: 8px;
      height: 40px;
    }
  }
}

#banner.navbar.navbar-fixed-top {
  margin: 0;
  z-index: 9992;
  position: fixed;
  top: 0;
  right: 0;
  height: @bannerHeight;
}